*{
    margin: 0px;
    padding: 0px;
    background-image: url("https://images.unsplash.com/photo-1511025998370-7d59f82e9c8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1036&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

.navbar-brand
{
  font-size: 100px;
  
}

@media only screen and (max-width: 400px){
    .navbar-brand{
        font-size: 50px;
    }
}

.btn{
    color: green;
}